/*	========================================================================== */
/*    	UTILITIES
/*	========================================================================== */

.u_uppercase {
	text-transform: uppercase;
}

.u_visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
	}
	
.u_max-width {
	width: calc(100vw - 4em);
	max-width: $max_width;
	margin: 0 auto;
  @media only screen and (min-width: $break_tablet) {
		width: calc(100vw - 3em);
		}
  @media only screen and (min-width: $break_laptop) {
		width: calc(100vw - 4em);
	  }
}
