/*	========================================================================== */
/*		BREADCRUMBS
/*	========================================================================== */

.breadcrumbs {
	display: inline-block;
	background-color: $col_grey_100;
	border-radius: 6px;
	padding: 0.125em 0.25em;
	margin-bottom: 1em;
}

.breadcrumbs ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 0.25em;
	padding: 0;
	margin: 0;
}

.breadcrumbs li {
	display: flex;
	align-items: center;
	gap: 0;
}

.breadcrumbs li:not(:last-child):after {
	content: "/";
	color: $col_grey_300;
	margin: 0 0.25em 0;
}

.breadcrumbs a,
.breadcrumbs span {
	@include font-size-13;
	@include font_medium;
	line-height: 1.2;
	text-decoration: none;
	display: block;
	background-color: $col_grey_100;
	padding: 0.325em 0.5em 0.225em;
	border-radius: 4px;
}

.breadcrumbs a {
  color: $col_blue_d_1;
}
	
.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
	@include text-decoration-default();
  }

.breadcrumbs span {
	color: $col_grey_700;
}