/*	========================================================================== */
/*		COPY
/*	========================================================================== */

.section-header {
	@include font_bold;
	@include font-size-13;
	line-height: 1.2;
	text-transform: uppercase;
	margin: 0 0 2.5rem;
}

.section-header span {
	display: inline-block;
	padding-bottom: 0.5rem;
	border-bottom: 2px solid $col_blue;
}

.copy {
	
	max-width: 52em;

	.lede {
		margin-bottom: 1.5em;
	}

	.lede p {
		@include font_regular;
		@include font-size-24;
	}
	
	strong,
	b {
		@include font_bold;
	}
	
	em,
	i {
		font-style: italic;
	}
	
	u {
  	text-decoration-line: underline;
		text-decoration-skip-ink: auto;
		text-decoration-thickness: 1px;
		text-underline-offset: 3px;
	}
	
	a {
		@include font_bold;
		color: $col_blue_d_1;
  	text-decoration-line: underline;
		text-decoration-skip-ink: auto;
		text-decoration-thickness: 1px;
		text-underline-offset: 3px;
		&:visited {
			color: $col_grey_400;
		}
		&:hover,
		&:focus,
		&:active {
    	color: $col_green_d_2;
    }
	}
	
	h2, h3, h4 {
		@include font_bold;
		line-height: 1.2;
		color: $col_blue_d_1;
	}
	
	h2 {
		@include font-size-28;
		margin: 2em 0 0.5em;
	}
	
	h3 {
		@include font-size-20;
		margin: 2em 0 0.5em;
	}
	
	h4 {
		@include font-size-16;
		margin: 2em 0 0.5em;
	}
	
	h5, h6 {
		@include font_medium;
		@include font-size-14;
		line-height: 1.2;
		text-transform: uppercase;
		color: $col_blue_d_1;
		margin: 2em 0 0.5em;
	}
	
	ul, ol {
		margin: 1em 0 2em;
	}
	
	ul {
		padding-left: 1.5em;
	}
	
	ol {
		padding-left: 1.75em;
	}
	
	ul li,
	ol li {
		margin: 0.75em 0;
	}
	
}