/*	========================================================================== */
/*		EVENTS
/*	========================================================================== */

.event-month {
	@include font-size-20();
	line-height: 1;
	@include font_bold();
	margin: 0 0 1em;
}

.eventList {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
	align-items: stretch;
	gap: 1em;
	list-style: none;
	padding: 0;
	margin: 0 0 3em;;
}

.eventListItem {
	padding: 0;
	margin: 0;
}

.eventListItem a {
	text-decoration: none;
	color: #fff;
	display: block;
	height: 100%;
	background-color: $col_blue_d_2;
	padding: 2em;
}

.m_previous .eventListItem a {
	background-color: $col_grey_600;
}

.eventListItem a:focus,
.eventListItem a:hover,
.eventListItem a:active {
  box-shadow: 0 0 0 0.5em $col_lightblue_200;
	outline: none;
}

.m_previous .eventListItem a:focus,
.m_previous .eventListItem a:hover,
.m_previous .eventListItem a:active {
  box-shadow: 0 0 0 0.5em $col_grey_200;
}

.eventListItem a:hover,
.eventListItem a:active {
  background-color: $col_blue_d_1;
}

.m_previous .eventListItem a:hover,
.m_previous .eventListItem a:active {
  background-color: $col_grey_500;
}

.eventListItem time {
	color: $col_blue_l_4;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1em;
}

.m_previous .eventListItem time {
	color: $col_grey_350;
}

.eventListItem-month {
	@include font-size-16();
	line-height: 1.2;
	text-transform: uppercase;
	display: block;
}

.eventListItem-day {
	@include font-size-24();
	line-height: 1;
	@include font_bold();
	font-variant-numeric: lining-nums;
	display: block;
}

.eventListItem-name {
	@include font-size-28();
	@include font_bold();
	margin: 0 0 1em;
}

.eventListItem-meta {
	line-height: 1.2;
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 1em;
	row-gap: 0.5em;
	padding: 0;
	margin: 1em 0 0;
}

.eventListItem-meta dt,
.eventListItem-meta dd {
	padding: 0;
	margin: 0;
}

.eventListItem-meta dt {
	@include font-size-11();
	text-transform: uppercase;
	color: $col_blue_l_4;
	margin-top: 2px;
}

.m_previous .eventListItem-meta dt {
	color: $col_grey_350;
}

.eventListItem-meta dd {
	@include font-size-14();
	color: #fff;
}