/*	========================================================================== */
/*		EVENTS LIST
/*	========================================================================== */

.eventList {
	list-style: none;
	padding: 0;
	margin: 0 0 2em;;
}

.eventListItem {
	padding: 0;
	margin: 0 0 1em;
}

.eventListItem.m_previous {
	grid-column: 1 / -1;
}

.eventListItem a {
	text-decoration: none;
	color: #fff;
	display: grid;
	grid-template-columns: min-content 1fr;
	column-gap: 1em;
	row-gap: 0;
	height: 100%;
	background-color: $col_blue_d_2;
	border: 1px solid $col_blue_d_2;
	padding: 1em 2em;
}

.eventListItem.m_previous a {
	background-color: $col_grey_150;
	border-color: $col_grey_300;
}

.eventListItem a:focus,
.eventListItem a:hover,
.eventListItem a:active {
	outline: none;
}

.eventListItem a:hover,
.eventListItem a:active {
  background-color: $col_blue_d_1;
}

.eventListItem.m_previous a:hover,
.eventListItem.m_previous a:active {
  background-color: $col_grey_300;
	border-color: $col_grey_400;
}

.eventListItem time {
	color: $col_blue_l_4;
	grid-column: 1 / 2;
	grid-row: 1 / 3;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	padding-right: 1em;
	border-right: 1px solid $col_blue_d_1;
	margin: 0.25em 0 0;
}

.eventListItem.m_previous time {
	color: $col_grey_400;
	border-right-color: $col_grey_300;
}

.eventListItem-month {
	@include font-size-16();
	line-height: 1.2;
	text-transform: uppercase;
	display: block;
}

.eventListItem-day {
	@include font-size-24();
	line-height: 1;
	@include font_bold();
	font-variant-numeric: lining-nums;
	display: block;
}

.eventListItem-name {
	@include font-size-28();
	@include font_bold();
	grid-column: 2 / 3;
	margin: 0;
}

.eventListItem.m_previous .eventListItem-name {
	color: $col_text_base;
}

.eventListItem-meta {
	line-height: 1.2;
	grid-column: 2 / 3;
	padding: 0;
	margin: 0;
  @media only screen and (min-width: $break_tablet) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 1em;
		row-gap: 0.5em;
	}
}

.eventListItem-meta dt,
.eventListItem-meta dd {
	padding: 0;
	margin: 0;
}

.eventListItem-meta dt {
	@include font-size-11();
	text-transform: uppercase;
	color: $col_blue_l_3;
	margin-top: 0.75em;
}

.eventListItem.m_previous .eventListItem-meta dt {
	color: $col_grey_400;
}

.eventListItem-meta dd {
	@include font-size-14();
	color: $col_blue_l_4;
}

.eventListItem.m_previous .eventListItem-meta dd {
	color: $col_grey_500;
}

/*	========================================================================== */
/*		EVENT PAGE
/*	========================================================================== */

.event-section {
	padding-bottom: 1em;
	border-bottom: 2px solid $col_grey_200;
	margin: 1em 0;
  @media only screen and (min-width: $break_tablet) {
		padding-bottom: 2em;
		margin-bottom: 2em;
	}
}

.event-section:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

.event-section > *:first-child {
	margin-top: 0;
}

.event-section > *:last-child {
	margin-bottom: 0;
}

.eventHeader {
	color: #fff;
	display: grid;
	grid-template-columns: min-content 1fr;
	column-gap: 1em;
	row-gap: 0;
	height: 100%;
	background-color: $col_blue_d_2;
	border: 1px solid $col_blue_d_2;
	padding: 2em;
	margin-bottom: 2em;
}

.eventHeader.m_previous {
	background-color: $col_grey_150;
	border-color: $col_grey_300;
}

.eventHeader time {
	color: $col_blue_l_4;
	grid-column: 1 / 2;
	grid-row: 1 / 3;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	padding-right: 1em;
	border-right: 1px solid $col_blue_d_1;
	margin: 0.5em 0 0;
}

.eventHeader.m_previous time {
	color: $col_grey_400;
	border-right-color: $col_grey_300;
}

.eventHeader-month {
	@include font-size-16();
	line-height: 1.2;
	text-transform: uppercase;
	display: block;
}

.eventHeader-day {
	@include font-size-24();
	line-height: 1;
	@include font_bold();
	font-variant-numeric: lining-nums;
	display: block;
}

.eventHeader .lede {
	margin: 0 0 1em;;
}

.eventHeader .lede p {
	margin: 0;
}

.eventHeader.m_previous .lede p {
	color: $col_grey_500;
}

.eventHeader.m_previous .eventListItem-name {
	color: $col_text_base;
}

.eventHeader-meta {
	line-height: 1.2;
	grid-column: 2 / 3;
	padding: 0;
	margin: 0;
  @media only screen and (min-width: $break_tablet) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 1em;
		row-gap: 0.5em;
	}
}

.eventHeader-meta dt,
.eventHeader-meta dd {
	padding: 0;
	margin: 0;
}

.eventHeader-meta dt {
	@include font-size-11();
	text-transform: uppercase;
	color: $col_blue_l_3;
	margin-top: 0.75em;
}

.eventHeader.m_previous .eventHeader-meta dt {
	color: $col_grey_400;
}

.eventHeader-meta dd {
	@include font-size-14();
	color: $col_blue_l_4;
}

.eventHeader.m_previous .eventHeader-meta dd {
	color: $col_grey_500;
}