/*	========================================================================== */
/*    	PAGE HEADER LAYOUT
/*	========================================================================== */

.pageHeader {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0;
  @media only screen and (min-width: $break_tablet) {
		grid-template-columns: min-content 1fr min-content;
	}
}
	
/*	========================================================================== */
/*    	PAGE HEADER : MAIN LOGO
/*	========================================================================== */

.headerLogo {
	background-color: #fff;
	padding: 1em;
  @media only screen and (min-width: $break_tablet) {
		padding: 1.5em;
	}
  @media only screen and (min-width: $break_laptop) {
		padding: 1.5em 2em;
	}
  @media only screen and (min-width: $break_desktop) {
		padding: 1.5em 2em 1.5em calc((100vw - #{$max-width}) / 2);
	}
}
	
/*	========================================================================== */
/*    	PAGE HEADER : MOBILE TOGGLE
/*	========================================================================== */

.headerNavToggle {
	display: flex;
	justify-content: flex-end;
	background-color: #fff;
	padding: 1em;
  @media only screen and (min-width: $break_tablet) {
		display: none;
	  }
}
	
/*	========================================================================== */
/*    	PAGE HEADER : UTILITY NAV
/*	========================================================================== */

.headerUtilities {
	grid-column: 2 / 3;
	grid-row-start: 2;
	background-color: $col-brand-yellow;
	padding: 1em;
  @media only screen and (min-width: $break_tablet) {
		grid-column: 2 / 4;
		grid-row-start: 1;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		background-color: #fff;
		padding: 1.5em;
	  }
  @media only screen and (min-width: $break_laptop) {
		padding: 1.5em 2em;
	  }
  @media only screen and (min-width: $break_desktop) {
		padding: 1.5em calc((100vw - #{$max-width}) / 2) 1.5em  2em;
	}
}

.headerUtilities ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 0;
	margin: 0;
  @media only screen and (min-width: $break_tablet) {
		flex-direction: row;
	  }
}

.headerUtilities li {
	
}

.headerUtilities a {
	text-decoration: none;
	display: block;
}
	
/*	========================================================================== */
/*    	PAGE HEADER : MAIN NAV
/*	========================================================================== */

.headerMainNav {
	grid-column: 1 / 2;
	grid-row-start: 2;
	background-color: $col-brand-yellow;
	padding: 1em;
  @media only screen and (min-width: $break_tablet) {
		grid-column: 1 / 3;
		padding: 0.5em 1.5em;
	  }
  @media only screen and (min-width: $break_laptop) {
		padding: 1em 2em;
	  }
  @media only screen and (min-width: $break_desktop) {
		padding: 1em 2em 1em calc((100vw - #{$max-width}) / 2);
	}
}

.headerMainNav ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
  @media only screen and (min-width: $break_tablet) {
		flex-direction: row;
	  }
}

.headerMainNav li {
	
}

.headerMainNav a {
	text-decoration: none;
	display: block;
}
	
/*	========================================================================== */
/*    	PAGE HEADER : SEARCH
/*	========================================================================== */

.headerSearch {
	grid-column: 1 / 3;
	background-color: $col-brand-yellow;
	padding: 1em;
  @media only screen and (min-width: $break_tablet) {
		grid-column: 3 / 4;
		padding: 0.5em 1.5em;
	  }
  @media only screen and (min-width: $break_laptop) {
		padding: 1em 2em;
	  }
  @media only screen and (min-width: $break_desktop) {
		padding: 1em calc((100vw - #{$max-width}) / 2) 1em 2em;
	}
}
