/*	========================================================================== */
/*		ICONS
/*	========================================================================== */

.icon-link-arrow-circle {
	display: inline-block;
	width: 1.4em;
	height: 1.4em;
	vertical-align: middle;
	fill: currentColor;
	margin-left: 0.5em;
}