/*	========================================================================== */
/*		PERSON
/*	========================================================================== */

.person-list {
	list-style: none;
	padding: 0;
	margin: 1em 0 0;
}

.person {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	padding-bottom: 2em;
	border-bottom: 1px solid $col_grey_150;
	margin: 0 0 2em 0;
}

div.person {
	padding-bottom: 0;
	border-bottom: none;
	margin: 2em 0;
}

.person-img {
	flex-basis: 191px;
}

.person-img img {
	border: 4px solid #fff;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.person-txt {
	flex-basis: 36em;
}

.person-role {
	@include font_bold();
	@include font-size-12();
	line-height: 1.2;
	text-decoration: none;
	text-transform: uppercase;
	color: $col_grey_500;
	display: inline-block;
	background-color: $col_grey_100;
	padding: 0.5em 0.75em 0.2em;
	border: 1px solid $col_grey_300;
	margin: 0 0 1.5em;
}

.person-name {
	@include font-size-24();
	margin: 0;
}

.person-name a {
	color: $col_text_base;
	text-decoration: none;
	&:hover,
	&:focus,
	&:active {
  	color: $col_blue_d_1;
		@include text-decoration-default();
    }
}

.person-positions {
	display: inline-flex;
	flex-direction: column;
	gap: 1px;
	background-color: $col_grey_200;
}

.person-company {
	@include font-size-14();
	color: $col_grey_500;
	background-color: #fff;
	margin: 0;
}

.person-committee {
	@include font-size-14();
	color: $col_grey_500;
	background-color: #fff;
	padding-top: 0.333em;
	margin: 0;
}

.person-biog {
	margin: 1em 0;
}

.person-biog p {
	margin: 0 0 0.5em;
}

.person-contact {
	line-height: 1;
	display: flex;
	align-items: flex-end;
	gap: 0.5em;
	margin: 0;
}

.person-contact svg {
	display: block;
	width: 1.25em;
	height: 1.25em;
	fill: $col_grey_300;
}
	
.person-contact a {
	@include font_bold;
	color: $col_blue_d_1;
	text-decoration: none;
	display: block;
	&:visited {
		color: $col_grey_400;
	}
	&:hover,
	&:focus,
	&:active {
  	@include text-decoration-default(); 
  }
}
