/*	========================================================================== */
/*		SEARCH RESULTS UTILITIES
/*	========================================================================== */

.search-result-utilities {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	padding-bottom: 1em;
	border-bottom: 1px solid $col_grey_150;
	margin-bottom: 2em;
}

.search-result-count p {
	@include font-size-16;
	@include font_medium;
	line-height: 1.2;
	margin: 0;
}

.search-result-count span {
	@include font_bold();
}

.search-result-filter select {
	margin: 0;
}

/*	========================================================================== */
/*		SEARCH RESULTS LIST
/*	========================================================================== */

.searchResults-list {
	list-style: none;
	padding: 0;
	margin: 0 0 3em;
}

.searchResults-item {
	padding-bottom: 1em;
	border-bottom: 1px solid $col_grey_200;
	margin-bottom: 1em;
  @media only screen and (min-width: $break_tablet) {
		display: grid;
		grid-template-columns: minmax(6em,min-content) 1fr;
		gap: 1em;
		align-items: flex-start;
	}
}

.searchResults-type {
	@include font_bold();
	@include font-size-12();
	line-height: 1.2;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: $col_grey_500;
	display: inline-block;
	background-color: $col_grey_100;
	padding: 0.5em 0.75em 0.2em;
	border: 1px solid $col_grey_300;
	margin: 0 0 1.5em;
}

.searchResults-title {
	@include font-size-22();
	@include font_bold();
	margin: 0 0 0.5em;
}

.searchResults-title a {
	text-decoration: none;
	color: $col_text_base;
	&:hover,
	&:focus,
	&:active {
  	@include text-decoration-default();
		color: $col_blue_d_1;
    }
}

.searchResults-meta {
	line-height: 1.2;
	display: flex;
	gap: 1.5em;
	padding: 0;
	margin: 0 0 0.75em;
}

.searchResults-meta dt,
.searchResults-meta dd {
	padding: 0;
	margin: 0;
}

.searchResults-meta dt {
	@include font-size-12();
	text-transform: uppercase;
	color: $col_grey_400;padding-bottom: 0.333em;
}

.searchResults-meta dd {
	@include font-size-14();
	@include font_bold();
	color: $col_grey_600;
}