/*	========================================================================== 
  	VARIABLES : BREAKPOINTS
    ========================================================================== */

$break_mobile_l:      400px;
$break_tablet:        750px;
$break_laptop:        1000px;
$break_desktop:       1280px;
$break_wide:          1600px;

/*	========================================================================== 
  	VARIABLES : DIMENSIONS
    ========================================================================== */
		
$max-width: 74em;

/*	========================================================================== 
  	VARIABLES : TYPESCALE
    ========================================================================== */

// $font_size_xs:    0.694em;
// $font_size_s:     0.8333em;
// $font_size_1:     1em;
// $font_size_2:     1.2em;
// $font_size_3:     1.44em;
// $font_size_4:     1.728em;
// $font_size_5:     2.074em;
// $font_size_6:     2.488em;
// $font_size_7:     3em;

/*	========================================================================== 
  	VARIABLES : COLOURS
    ========================================================================== */

$col_text_base:     #333;

$col-brand-yellow: #FFD518;