/*	========================================================================== */
/*    	LAYOUT : UNIVERSAL
/*	========================================================================== */

main {
  flex-grow: 1;
	width: 100%;
	margin: 0 auto;
  }
	
/*	========================================================================== */
/*    	LAYOUT : OVERLAY BEHIND MOBILE NAV
/*	========================================================================== */
	
.hasJS body::after {
	content: "";
  display: block;
  position: absolute;
  top: 0;
	height: 100vh;
  max-height: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0);
	transition: background-color 0.7s ease;
  @media only screen and (min-width: $break_tablet) {
		display: none;
	  }
}
	
.hasJS body.m_navOpen::after {
	max-height: 100vh;
  background-color: rgba(0,0,0,0.85);
}

/*	========================================================================== */
/*    	LAYOUT : SIDEBAR PAGE
/*	========================================================================== */

.layout-sidebar {
	display: grid;
	gap: 1em;
	padding: 2em 0;
  @media only screen and (min-width: $break_laptop) {
		grid-template-columns: 15em auto;
		grid-template-rows: auto 1fr;
		gap: 2em;
	  }
}

.layout-sidebar-side-primary {
  @media only screen and (min-width: $break_laptop) {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	  }
}

.layout-sidebar-main-content {
  @media only screen and (min-width: $break_laptop) {
		grid-column: 2 / 3;
		grid-row: 1 / 3;
	  }
}

.layout-sidebar-side-secondary {
  @media only screen and (min-width: $break_laptop) {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	  }
}
  
// .skipLink {
//   text-align: center;
//   position: fixed;
//   z-index: 100;
//   top: 0;
//   left: 0;
//   right: 0;
//   transform: translateY(-100%);
//   transition: transform 0.2s ease;
//   outline: none;
//   }
//   
// .skipLink:focus {
//   transform: translateY(0%);
//   }
//   
// .skipLink span {
//   @include font-body-bold;
//   line-height: 2;
//   text-decoration: none;
//   color: #fff;
//   display: inline-block;
//   position: relative;
//   z-index: 20;
//   background-color: $col_brand_orange;
//   padding: 0.5em 1.5em;
//   border: 3px solid #fff;
//   margin: 1em auto;
//   }
  