/*	========================================================================== */
/*    	LAYOUT
/*	========================================================================== */

main {
	width: 100%;
	clear: both;
	margin: 0 auto;
  }
  
@supports #{$modern_browsers} {

  main {
    flex-grow: 1;
    }
  
  }
  
// .skipLink {
//   text-align: center;
//   position: fixed;
//   z-index: 100;
//   top: 0;
//   left: 0;
//   right: 0;
//   transform: translateY(-100%);
//   transition: transform 0.2s ease;
//   outline: none;
//   }
//   
// .skipLink:focus {
//   transform: translateY(0%);
//   }
//   
// .skipLink span {
//   @include font-body-bold;
//   line-height: 2;
//   text-decoration: none;
//   color: #fff;
//   display: inline-block;
//   position: relative;
//   z-index: 20;
//   background-color: $col_brand_orange;
//   padding: 0.5em 1.5em;
//   border: 3px solid #fff;
//   margin: 1em auto;
//   }
  